<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Sal's Movie Store</title>
</head>

<body class="has-background-grey-darker is-fullheight">
  <header>
    <div class="panel has-danger-dark is-fluid has-background-grey-darker is-fullheight">
      <div class="panel-heading is-four-fifths has-background-grey-darker is-fullheight">
        <div class="bulma-ltr-position-mixin-parent">
          <div class="notification is-danger" id="customFont" height="24" width="24">Sal's Online Movie Store</div>
        </div>
        <style>
          #customFont {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          }

          body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
          }

          #footer {
            margin-top: auto
          }

          #divFooter {
            margin-top: auto
          }
        </style>


        <div class="bulma-ltr-property-mixin">
          <form id="searchForm">
            <div class="field has-addons">
              <div class="control">
                <input id='searchBar' class="input" type="text" placeholder="Search by part of a Movie Name">
              </div>
              <div class="control">
                <a id='searchBtn' class="button is-primary"> Search </a>
              </div>
            </div>
          </form>
          {{!-- Site navigation buttons. Change depending on if User is logged in or not so as not to mislead to an auth
          required page. --}}
          {{#unless logged_in}}

          <a href="/"><button class="button is-danger" height="96" width="96">Home</button></a>

          <a href="/account"><button class="button is-primary redirect" id="loginBtn" height="96" width="96">Login/Sign
              up</button></a>

          <a href="/genre"><button class="button is-primary" height="96" width="96">Categories</button></a>

          {{/unless}}
          {{#if logged_in}}

          <a href="/"><button class="button is-danger" height="96" width="96">Home</button></a>

          <a href="/genre"><button class="button is-primary" height="96" width="96">Categories</button></a>

          <a href="/account/orderhistory"><button class="button is-primary" height="96" width="96">Account</button></a>

          <a href="/cart/"><button class="button is-primary" height="96" width="96">Your Cart</button></a>

          <button class="button is-primary" id="logoutBtn" height="96" width="96">Logout</button>
          {{/if}}
        </div>
      </div>
  </header>

  <main>
    <div class="notification has-background-grey-darker is-fullheight">
      {{{ body }}}
    </div>
  </main>

  <footer class="mt-auto is-flex-wrap-wrap is-justify-content-flex-end is-align-content-end" id="footer">
    <section class="hero is-primary mt-3">
      <div class="hero-body mt-auto" id="divFooter">
        <p class="title">
          <strong>Contact Us</strong>
        <p>
          <strong>Click below @</strong>
        </p>
        </p>
        <p class="subtitle mt-auto">
          <a target="_blank" href="https://github.com/garrettWinter">Garrett</a>, <a
            target="_blank" href="https://github.com/Sal8298">Salahuddin</a>, <a
            target="_blank" href="https://github.com/NickHM05">Nicholas</a>, <a
            target="_blank" href="https://github.com/AbdirisakAbukar">Abdi</a> 
            <br>
            <br>This project is using the <a target="_blank" href="http://opensource.org/licenses/mit-license.php">MIT</a> license.
          <br>
          <br>
          <strong>All movie data used in this project belongs to the
          <a target="_blank" href='https://imdb-api.com/'>IMDb API</a></strong>
        </p>
      </div>
    </section>
  </footer>
</body>
{{!-- Loads logout.js to make logout button functional. --}}
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
<script src="/js/searchBar.js"></script>

</html>
