<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <title>Sal's Movie Store </title>
</head>

<body>
    <header>
        <div>
            <div>
                <h1>Sal's Online Movie Store</h1>
            </div>
            <div>
                <h2>Search Bar/ Categories</h2>
            </div>
        </div>

        <button id="loginBtn">Login/Sign up</button>


    </header>


    <main>
        {{{ body }}}
    </main>


    <footer>
        
    </footer>


</body>

</html>