{{!-- 1st photo --}}
{{#if logged_in}}
<div>
  <h1>My Account</h1>
</div>
{{/if}}

{{!-- {{else}} --}}
{{#unless logged_in}}
{{!-- Line 26 to 54 wrapped in a form. It is needed for buttons to actually work --}}
<h2>Login</h2>
<form class="form login-form">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email" id="email-login">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" id="password-login">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success" type="submit">
        Login
      </button>
    </p>
  </div>
</form>

<h2>Sign-Up</h2>
<form class="form signup-form">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email" id="email-signup">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" id="password-signup">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="username" placeholder="Username" id="username-signup">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success">
        Sign Up
      </button>
    </p>
  </div>
</form>
{{/unless}}
{{!-- {{/if}} --}}