{{!-- 1st photo finished --}}
{{#if logged_in}}
<div>
  <h1 class="box">My Account</h1>
  <h2 class="box">Your Previous Orders!</h2>
  {{#each order as |post|}}
  <div class="productCard p-5">
    <div class="box">
      <div class="media">
        <div class="fontfamily-sans-serif p-5">Order ID:{{post.order_id}}</div>
        <div class="fontfamily-sans-serif p-5">Order Total:{{post.order_total}}</div>
        <div class="fontfamily-sans-serif p-5">Order Date:{{post.createdAt}}</div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}

{{!-- {{else}} --}}
{{#unless logged_in}}
{{!-- Line 26 to 54 wrapped in a form. It is needed for buttons to actually work --}}
{{!-- <h2 class="has-text-white-bis has-text-weight-bold">Login</h2> --}}
<form class="form login-form">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email" id="email-login">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" id="password-login">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success mb-4" type="submit">
        Login
      </button>
    </p>
  </div>
</form>

{{!-- <h2 class="has-text-white-bis mt-4 is-family-sans-serif has-text-weight-bold">Sign-Up</h2> --}}
<form class="form signup-form">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email" id="email-signup">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" id="password-signup">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="username" placeholder="Username" id="username-signup">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success">
        Sign Up
      </button>
    </p>
  </div>
</form>
{{/unless}}
{{!-- {{/if}} --}}