{{!-- 1st photo finished --}}
{{#if logged_in}}
<div id="box1">
  <div>
    <div>
      <h1 class="box has-text-centered is-size-3 pr-6 mr-6"><strong>My Account</strong></h1>
    </div>
  </div>
  <br>
  {{#each order as |post|}}
  <article class="message is-danger">
    <div class="message-header">
      <p>Order History</p>
      {{!-- <button class="delete" aria-label="delete"></button> --}}
    </div>
    <div class="productCard p-5">
      <div class="message-body has-text-black">
        <div class="is-family-primary p-5"><strong>Order ID: </strong>{{post.order_id}}</div>
        <div class="fontfamily-sans-serif p-5"><strong>Order Total: </strong>${{post.order_total}}</div>
        <div class="fontfamily-sans-serif p-5"><strong>Order Date: </strong>{{post.createdAt}}</div>
      </div>
    </div>
  </article>
  {{/each}}
</div>
{{/if}}

{{!-- {{else}} --}}
{{#unless logged_in}}
{{!-- Line 26 to 54 wrapped in a form. It is needed for buttons to actually work --}}
{{!-- <h2 class="has-text-white-bis has-text-weight-bold">Login</h2> --}}
<form class="form login-form">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email" id="email-login">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" id="password-login">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success mb-4" type="submit">
        Login
      </button>
    </p>
  </div>
</form>

{{!-- <h2 class="has-text-white-bis mt-4 is-family-sans-serif has-text-weight-bold">Sign-Up</h2> --}}
<form class="form signup-form">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email" id="email-signup">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" id="password-signup">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control has-icons-left">
      <input class="input" type="username" placeholder="Username" id="username-signup">
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success">
        Sign Up
      </button>
    </p>
  </div>
</form>
{{/unless}}
{{!-- {{/if}} --}}