{{!-- Last Photo --}}
    </div>
    <h1>Cart!</h1>
</div>
<div>
    <div class="movie-1">
      <figure class="image1 is-128x128">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
      <button class="button is-primary" height="96" width="96">Buy Now!</button>
    </div>

    <div class="movie-2">
      <figure class="image2 is-256x256">
        <img src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
      <button class="button is-success is-light" height="96" width="96">Buy Now!</button>
    </div>

    <div>Cost and Quantity</div>

    <div>Cost and Quantity</div>

    <div> Total Cost</div>

    <div class="field is-grouped is-grouped-centered">
  <p class="control">
    <a class="button is-primary">
      Submit
    </a>
  </p>
  <p class="control">
    <a class="button is-light">
      Cancel
    </a>
  </p>
</div>