/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */


*{
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


header {
    border: 2px solid black;
    border-radius: 10px;
    background-color: blanchedalmond;
    
}

.div.notification.is-info{
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.box {
    max-width: 1000px;
    text-align: center;
}
